.container {
    display: flex;  
    align-items: stretch;
    height: 100vh;
}

.left-sec {
    flex: 1;
    background-image: url("leaves.jpg");
    background-size: cover;
}

.right-sec {
    flex: 2;

    background-color: aqua;
}